.users_h1_box {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  color: #053779;/*文字色*/
  background: #FFF;
  border: solid 3px #063777;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.users_h1_box h1 {
  margin: 0; 
  padding: 0;
  text-align: center;
}